:root {
    margin: 0;
    padding: 0;
    --font-primary: 'Space Grotesk', sans-serif;
    --font-secondary: 'Inter', sans-serif;
    --font-code: 'JetBrains Mono', monospace;
}

body {
    font-family: var(--font-secondary);
}

.logo,
h1,
h2,
h3 {
    font-family: var(--font-primary);
}

code,
.skill,
.tag {
    font-family: var(--font-code);
}